name: Docker Image Build and run

on:
  push:
    branches: [ "main" ]
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: stell0/youtubetelegramsummaries:latest
    - name: Run the Docker container
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        CHANNEL_LIST: ${{ vars.CHANNEL_LIST }}
      run: docker run -e OPENAI_API_KEY -e CHANNEL_LIST stell0/youtubetelegramsummaries:latest
      
